{%  extends 'seller_dashboard_base.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}
{% block content %}
     <h1>Seller Settings</h1>
<br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Page currently in Progress!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <br>
 <div class="container border py-3 my-3">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <form action="{% url 'seller settings' %}" method="post" >
                {% csrf_token %}
                {{form | crispy }}

                <link rel="stylesheet" type="text/css" href="../static/css/button.css" />
                <input id = "save" type="submit" value="Update">
            
                <a id="cancel" href="dashboard"> Cancel </a>
            </form>
        </div>
      
    </div>
    </div>
{% endblock %}

{% comment %} {%  extends 'buyer_dashboard_base.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}
{% block content %}

     <div class="container border py-3 my-3">
     <form class='form-control 'action="{% url 'buyer settings' %}" method="post" >
   {% csrf_token %}
       {{ settings.non_field_errors }}
<div class="fieldWrapper">
    {{ settings.firstname.errors }}

    <label for="{{ settings.firstname.id_for_label }}"></label>
    {{ settings.firstname | as_crispy_field   }}
</div>
<div class="fieldWrapper">
    {{ settings.lastname.errors }}
    <label for="{{ settings.lastname.id_for_label }}"></label>
    {{ settings.lastname | as_crispy_field}}
</div>
<div class="fieldWrapper">
    {{ settings.business_phone_number.errors }}
    <label for="{{ settings.business_phone_number.id_for_label }}"></label>
    
    {{ settings.business_phone_number | as_crispy_field }}
</div>
<link rel="stylesheet" type="text/css" href="../static/css/button.css" />
    <input id = "save" type="submit" value="Update">
    
    <a id="cancel" href="dashboard"> Cancel </a>
</form>
        

    </div>
{% endblock %} {% endcomment %}


