{%  extends 'base_templates/seller_dashboard_base.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}
{% block content %}
         <h1 style="font-family: Arial; font-size: 40px"><b> &ensp; Seller Settings</b></h1>
     <div class="container-fluid" style="float: left; padding: 40px">
      <div class="row justify-content-between">
        <div class="col-4 border" style="height: 850px; padding: 25px;  background: white">
            <br>
            <div class="container py-3 p_profile" style="background: white; height: 131px">
                <a onclick="location.href='{% url 'seller personalsettings' %}'" style="font-family: Arial; font-size: 20px">
                    &nbsp;<i class="fa fa-building"></i><b>&nbsp; Business Profile & Payment</b>
                <div class="container-fluid">
                    <p style="font-size: 17px; color: #666666; word-break: break-word"> Edit business profiles/payments.<br> Update your changes.</p>
                </div>
                </a>
            </div>
            <br>
            <div class="container py-3 p_profile" style="background: #FBC226; height: 131px">
                <a style="font-family: Arial; font-size: 20px">&nbsp;<i class="fa fa-user"></i><b>&nbsp; Personal Profile</b></a>
                <div class="container-fluid">
                    <p style="font-size: 17px; color: #666666; word-break: break-word"> Edit your personal profile settings.<br> Update your changes.</p>
                </div>
            </div>
        </div>
        <div class="col border" style="background: #f5f5f5; padding: 50px">
            <p style="font-family: Arial; font-size: 30px;"><b>Personal Profile</b></p>
            <p style="font-family: Arial; font-size: 17px; color: #666666">
                You can edit and change your personal profile down below.
            </p>

            <form action="{% url 'seller perosnalsettings' %}" method="post" >

                <link rel="stylesheet" type="text/css" href="../static/css/button.css" />
                <input id = "save" type="submit" value="Update">

                <a id="cancel" href="dashboard"> Cancel </a>
            </form>

            <br>
            <br>



        </div>
      </div>
   </div>

<!--
<br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Page currently in Progress!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <br>
 <div class="container border py-3 my-3">
    <div class="form-row align-items-center">
        <div class="col-auto">

        </div>

    </div>
    </div>
{% endblock %}


     <div class="container border py-3 my-3">
     <form class='form-control 'action="{% url 'buyer settings' %}" method="post" >
   {% csrf_token %}
       {{ settings.non_field_errors }}
<div class="fieldWrapper">
    {{ settings.firstname.errors }}

    <label for="{{ settings.firstname.id_for_label }}"></label>
    {{ settings.firstname | as_crispy_field   }}
</div>
<div class="fieldWrapper">
    {{ settings.lastname.errors }}
    <label for="{{ settings.lastname.id_for_label }}"></label>
    {{ settings.lastname | as_crispy_field}}
</div>
<div class="fieldWrapper">
    {{ settings.business_phone_number.errors }}
    <label for="{{ settings.business_phone_number.id_for_label }}"></label>

    {{ settings.business_phone_number | as_crispy_field }}
</div>
<link rel="stylesheet" type="text/css" href="../static/css/button.css" />
    <input id = "save" type="submit" value="Update">

    <a id="cancel" href="dashboard"> Cancel </a>
</form>


    </div>
-->




