{%  extends 'seller_dashboard_base.html' %}
{% block content %}
<br>

   <div class="container-sm border col-md-4">
        <h1>This is a heading</h1>
        <p>This is a paragraph of text.</p>
    </div>
<ul class="nav justify-content-end">
     <li class="nav-item">
  <div class="card-deck">
    <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>
  </li>
</ul>
  <br>
  <div class="container-sm border col-md-8 col-lg-8">
        <h1>This is a heading</h1>
        <p>This is a paragraph of text.</p>
    </div>
{% endblock %}