<!DOCTYPE html>
<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{## TODO: Buyer Additional form : Kweku and Vineeth#}
{#User then should be directed to the dashboard#}
{#<form action="{% url 'buyer dashboard' %}" method="post" >#}
{#    {% csrf_token %}#}
{#    {{ sellerform }}#}
{#   #}
{#    <input type="submit" value="Create Seller Profile">#}
{#</form>#}

<body>
this is the page for additional buyer information! By Kweku
</body>
</html>
-->
<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1366, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/buyer-sign-in.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="buyer-sign-in" />
    <div class="container-center-horizontal">
      <div class="buyer-sign-in screen">
        <div class="overlap-group1">
          <div class="banner-template"></div>
          <div class="rectangle-128"></div>
          <div class="rectangle-129 border-3px-lightning-yellow"></div>
          <div class="sign-up-now segoeui-bold-black-9px">Sign Up Now</div>
          <div class="dont-have-an-account segoeui-regular-normal-gray-9px">Don&#39;t Have an Account?</div>
          <div class="email-field border-1px-dove-gray">
            <img class="icon-email" src="img/icon-email@1x.png" />
            <div class="email segoeui-regular-normal-gray-11px">Email</div>
          </div>
          <div class="login-button"><div class="log-in segoeui-bold-white-13px">Log In</div></div>
          <div class="sign-in">Sign In</div>
          <div class="for-buyers">for Buyers</div>
          <div class="forget-password segoeui-bold-black-9px">Forget Password?</div>
          <div class="password-field border-1px-dove-gray">
            <img class="ezgifcom-gif-maker" src="img/ezgif-com-gif-maker@1x.png" />
            <div class="password segoeui-regular-normal-gray-10px">Password</div>
            <img class="ezgif-5-d6237d1fb4" src="img/ezgif-5-d6237d1fb4@1x.png" />
          </div>
          <img class="buyer-icon" src="img/buyer-icon-1x-png-1x-png-1x-png-1x-png-1x-png-1x-png-1x-png-1x-p-1@1x.png" />
        </div>
        <div class="home-button">
          <div class="home-icon">
            <div class="path-container">
              <img class="path-1" src="img/path-1@1x.png" />
              <img class="path-2" src="img/path-2@1x.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>