<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1366, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/buyer-sign-up.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
      <title></title>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="buyer-sign-up" />
    <div class="container-center-horizontal">
      <div class="buyer-sign-up screen">
        <div class="overlap-group6">
          <div class="banner-template"></div>
          <div class="rectangle-128"></div>

          <div class="rectangle-129"></div>
          <div class="terms">
            <img class="i-agree-all-statements-in" src="../static/img/i-agree-all-statements-in-@1x.png"  alt=""/>
            <div class="terms-conditions segoeui-bold-black-9px">Terms &amp; Conditions</div>
          </div>
          <a href="{% url 'sign in' %}"><div class="login-here segoeui-bold-black-9px"> Login Here</div> </a>
          <div class="already-have-an-account">Already have an account?</div>

          <div class="first-name-field">
            <div class="first-name segoeui-regular-normal-gray-11px">
                <img class="person" src="../static/img/person-1@1x.png" /> First Name</div>

                  <input class="overlap-group border-1px-dove-gray">

          </div>
          <div  class="last-name-field">
            <div class="last-name segoeui-regular-normal-gray-11px">
                <img class="person" src="../static/img/person-1@1x.png" /> Last Name</div>

                  <input  class="overlap-group1 border-1px-dove-gray">


          </div>
            <div class="">

          <div class="password-field">
            <div class="password segoeui-regular-normal-gray-11px">
                 <img class="ezgifcom-gif-maker" src="../static/img/ezgif-com-gif-maker-1-1x-png@1x.png"  alt=""/>
                Password</div>
              <label>
                  <input  class="overlap-group2 border-1px-dove-gray">
              </label>

          </div>
          <div class="confim-pasword-field">
            <div class="confirm-password segoeui-regular-normal-gray-11px">
                <img class="ezgifcom-gif-maker" src="../static/img/ezgif-com-gif-maker-1-1x-png@1x.png"  alt=""/> Confirm Password</div>
              <label>
                  <input class="overlap-group3 border-1px-dove-gray">
              </label>
          </div>
          <div class="email-field">
            <div class="email">
                 <img class="icon-email" src="../static/img/icon-email@1x.png" /> Email</div>
              <input  class="overlap-group4 border-1px-dove-gray"/>
          </div>
          <div class="phone-field">
            <div class="phone segoeui-regular-normal-gray-11px" ><img class="image-1" src="../static/img/image-1-1x-png@1x.png" /> Phone
             </div>
              <label>
                  <input  class="overlap-group5 border-1px-dove-gray">
              </label>

          </div>

          <button type="submit" class="register-now-button" >
              <div class="register-now"> Register Now</div>
          </button>
            
          <h1 class="sign-up">Sign up</h1>
          <div class="for-buyers">for Buyers</div>
          <img class="buyer-icon" src="../static/img/buyer-icon-1x-png-1x-png-1x-png-1x-png-1x-png-1x-png-1x-png-1x-p-1@1x.png" />
          <div class="rectangle-273 border-1px-dove-gray"></div>
        </div>
        <a href="{% url 'home' %}">
          <div class="back-button"><img class="path-1" src="../static/img/path-1-1-1x-png@1x.png" /></div
        ></a>
      </div>
      </div>
    </div>
  </body>
</html>
