<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1366, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/buyer-sign-in.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="buyer-sign-in" />
    <div class="container-center-horizontal">
      <div class="buyer-sign-in screen">
        <input class="overlap-group1">
          <div class="banner-template"></div>
          <div class="rectangle-128"></div>
          <div class="rectangle-129"></div>
          <a href="{% url 'sign up' %}"><div class="sign-up-now segoeui-bold-black-9px">Sign Up Now</div> </a>
          <div class="dont-have-an-account">Don&#39;t Have an Account?</div>

               <input
                  class="email-field border-1px-dove-gray">
            <img class="icon-email" src="../static/img/icon-email@1x.png" />
            <div class="email segoeui-regular-normal-gray-11px">Email</div>
          </input>


          <button onclick="location.href='{% url 'buyer dashboard' %}'" class="login-button"><div class="log-in">Log In</div></button>
          <div class="sign-in">Sign In</div>
          <div class="for-buyers">for Buyers</div>
          <div class="forget-password segoeui-bold-black-9px">Forget Password?</div>
          <input class="password-field border-1px-dove-gray">
            <img class="ezgifcom-gif-maker" src="../static/img/ezgif-com-gif-maker@1x.png" />
            <div class="password">Password</div>
            <img class="ezgif-5-d6237d1fb4" src="../static/img/ezgif-5-d6237d1fb4@1x.png" />
          </input>
          <img class="buyer-icon" src="../static/img/buyer-icon-1x-png-1x-png-1x-png-1x-png-1x-png-1x-png-1x-png-1x-p-1@1x.png" />
        </div>
        <a href="{% url 'home' %}">
          <div class="home-button">
            <div class="home-icon">
              <div class="path-container">
                <img class="path-1" src="../static/img/path-1-1x-png-1@1x.png" />
                <img class="path-2" src="../static/img/path-2@1x.png" />
              </div>
            </div></div
        ></a>
      </div>
    </div>
  </body>
</html>
