<!-- currently, this is the dashboard -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>{{ note }}</h2>
this is the dashboard
<!-- for loop :
  {for field in sellerform}
  .....
  {endfor}
  -->
<form action="{% url 'buyer dashboard' %}" method="post" >
    {% csrf_token %}
    {{ sellerform.firstname.label.tag }}
    {{ sellerform.firstname }}
      {{ sellerform.lastname.label.tag }}
    {{ sellerform.lastname }}
    <input type="submit" value="Create Seller Profile">
</form>
</body>
</html>