{%  extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

     <div class="container">
<form method="post">
  {% csrf_token %}
  <div style="position: relative; top: -20px; right: 100px;">
    <div class="mb-4 w-50">
   <!-- <label for="exampleInputEmail1" class="form-label">Username</label> -->
    <input type="text" class="form-control login_style" name="username" placeholder="Username">
    </div>
  </div>
    <div style="position: relative; top: -5px; right: 100px;">
      <div class="mb-4 w-50">
    <input type="password" class="form-control login_style" name="password" placeholder="Password">
  </div>

    <div class="container">
        <button class="btn btn-primary mb-2" type="submit">Login</button>
    </div>

</form>
</div>
     <br>
<div style="position: relative; top: -15px; right: 360px">
<div class="d-flex justify-content-center">
    Don't have an account? <a href='{% url "sign up" %}'><strong>  Sign Up Here!</strong></a>
</div>
</div>


{% endblock %}
