{% extends 'base_templates/buyer_dashboard_base.html' %}
{% block content %}
    <style>

table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}

</style>
<div class="container bg-white text-dark border border-dark">
<br>
    <a  class="btn btn-outline-dark" href="{% url 'buyer dashboard' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Number of Items: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> ${{order.get_cart_total}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-warning createcheckout " href="{% url 'create-checkout-session' %}"   >Checkout</a>
						</th>
					</tr>
				</table>
</div>
   <br>
<div class="container bg-white text-dark border border-dark">
    <table class="table table-hover">
        <thead>
    <tr>
        <th scope="col"><strong></strong></th>
      <th scope="col"><strong>Item</strong></th>
      <th scope="col"><strong>Price</strong></th>
      <th scope="col"><strong>Quantity</strong></th>
       <th scope="col"><strong>Remove</strong></th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
  </tr><th>
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{item.product.image.url}}" alt="Card image cap">

</div>
  </th>
      <th>{{ item.product.product }}</th>
       <th>${{item.product.price}}</th>
       <th>{{item.quantity}}
       <a class="add" title="Increase" data-toggle="tooltip"><i class="material-icons">&#xE316;</i></a>
                            <a class="delete" title="Decrease" data-toggle="tooltip"><i class="material-icons">&#xE313;</i></a> </th>
</th>
      <th>
      <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" name="cart-item-del"><i class="fa fa-trash"></i></button>
      {% comment %} <a class="btn btn-sm btn-primary" id="remove-item" href="#" role="button">RemoveLink</a></th> {% endcomment %}
     {% comment %} <li class="list-inline-item">
                                                    
                                                </li> {% endcomment %}
      {% comment %} <button class="btn btn-sm btn-primary" id="remove-item">Remove</button></th> {% endcomment %}

      </tr>
  {% endfor %}
  </tbody>
    </table>
</div>
<script>

</script>

{% endblock %}