{#TODO:1. make table for all orders, today's orders and future orders - DONE#}
{#TODO:2. make option for incomplete orders - DONE#}
{#TODO:3. make a card for total orders - add total items, total amount and most ordered item#}

{% extends 'base_templates/buyer_dashboard_base.html' %}
{% block content %}

<h1>YOUR ORDERS</h1>
<br>

<div class="container border ">
  <p>{{today}}</p>
  <br>
  <h3>Current Orders</h3>
  <div class="row mt-5 justify-content-center">
    {% for id, info in info_obj_current.items %}
    <div class="card-deck mx-2 mb-3">
      <div class="card border-primary rounded mb-3" style="max-width: 18rem;">
        <!-- <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap"> -->
        <div class="card-body">

          <h5 class="card-title">Order# {{ orderid }}</h5>
          {% for purchase, product in info %}
            
            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
            <p class="card-text">{{ product.product }}</p>
            <p class="card-text">Qty: {{ purchase.quantity }}</p>
            <p class="card-text">$ {{ purchase.seller_price }}</p>
            <p class="card-text">{{ purchase.order_status }}</p>
            
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}


  <br>
  <div class="row mt-5 justify-content-center">
    {% for orderid, info in info_obj_complete.items %}
    <div class="card-deck mx-2 mb-3">
      <div class="card border-primary rounded mb-3" style="max-width: 18rem;">
        <!-- <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap"> -->
        <div class="card-body">

          <h5 class="card-title">Order# {{ orderid }}</h5>
          {% for purchase, product in info %}
            
            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
            <p class="card-text">{{ product.product }}</p>
            <p class="card-text">Qty: {{ purchase.quantity }}</p>
            <p class="card-text">$ {{ purchase.seller_price }}</p>
            <p class="card-text">{{ purchase.order_status }}</p>
            
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}


    <br>


    <h3>Incomplete Orders</h3>
    <br>
    {% for id, details in info_obj_incomplete.items %}
    <div class="card-deck mx-2 mb-3">
      <div class="card border-primary rounded mb-3" style="max-width: 18rem;">
        <!-- <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap"> -->
        <div class="card-body">

          <!-- <h5 class="card-title">Order# {{ id }}</h5> -->
          {% for cart_obj, prod_obj in details %}
            
            <img class="card-img-top" src="{{ prod_obj.image.url }}" alt="Card image cap">
            <p class="card-text">{{ prod_obj.product }}</p>
            <p class="card-text">Qty: {{ cart_obj.quantity }}</p>
            <p class="card-text">$ {{ prod_obj.price }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

</div>



{% endblock %}