{%  extends 'buyer_dashboard_base.html' %}

{% load crispy_forms_tags %}
{% block content %}

     <div class="container border py-3 my-3">
     <form class='form-control 'action="{% url 'buyer settings' %}" method="post" >
   {% csrf_token %}
       {{ settings.non_field_errors }}
<div class="fieldWrapper">
    {{ settings.firstname.errors }}

    <label for="{{ settings.firstname.id_for_label }}">First Name:</label>
    {{ settings.firstname | as_crispy_field   }}
</div>
<div class="fieldWrapper">
    {{ settings.lastname.errors }}
    <label for="{{ settings.lastname.id_for_label }}">Last Name:</label>
    {{ settings.lastname | as_crispy_field}}
</div>
<div class="fieldWrapper">
    {{ settings.phone.errors }}
    <label for="{{ settings.phone.id_for_label }}">Phone:</label>
    
    {{ settings.phone | as_crispy_field }}
</div>
<link rel="stylesheet" type="text/css" href="../static/css/button.css" />
    <input id = "save" type="submit" value="Update">
    
    <a id="cancel" href="dashboard"> Cancel </a>
</form>
        

    </div>
{% endblock %}