{%  extends 'buyer_dashboard_base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    {% load crispy_forms_tags %}
    <br>
     <h1>Buyer Dashboard</h1>
<br>
     <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Page currently in Progress!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <br>
<ul class="nav justify-content-center">
    <li class="nav-item">
    <a class="nav-link active" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Lunch</a>
</li>
      <li class="nav-item">  <a class="nav-link" href='{% url 'buyer restaurants' %}'>Restaurants dashboard</a></li>
 <li class="nav-item">
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search by Name" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </li>

</ul>
    <br>
<ul class="nav justify-content-end">
     <li class="nav-item">
    <div class="card border-secondary" style="max-width: 18rem;">
        <img class="card-img-top" src="../static/img/219969-1x-png@1x.png" alt="Card image">
  <div class="card-header" href='{% url "buyer dashboard" %}' >{{ userdetails.firstname }}, {{ userdetails.lastname }}</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Joined</h5>
    <p class="card-text">2 weeks ago.</p>
  </div>
</div>
  </li>
</ul>
    <br>
     <div class="container border ">
<br>
      <div class="row mt-5 justify-content-center">
         {% for item in dishes %}
             <div class="card-deck mx-2 mb-3">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
            <div class="card-body">
            <h5  class="card-title">{{ item.product }}</h5>
                <p class="card-text-warning">$ {{ item.price }}</p>
                <p class="card-text" id="quantity" >Quantity : {{ item.quantity}}</p>
                <p class="card-text">Category : {{ item.category }}</p>
                <a  id="buy" data-product="{{ item.product }}" data-action="add"  data-quantity="{{ item.quantity }}" class="btn btn-success update-cart">Add to Cart</a>
            </div>
            </div>
             </div>


         {% endfor %}

         </div>

    </div>
    <!-- Modal -->
<div class="modal fade" id="DishModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<p> The value of the option selected is:
        <span class="output"></span>
    </p>
                  <button type="button" class="btn btn-primary" id="cart">Add to Cart</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

    <script>
   var updateBtns = document.getElementsByClassName('update-cart')
   var user = '{{ request.user }}'
   for (var i=0; i< updateBtns.length;i++)
   {
       updateBtns[i].addEventListener('click',function(){
           var productname = this.dataset.product
           var action = this.dataset.action
           var quantity = this.dataset.quantity
           console.log('product:',productname,'Action',action,'quantity:',quantity)
           console.log('USER', user)
           if (user === 'AnonymousUser') {
               console.log("User is not authenticated")

           } else{
               console.log("user is authenticated,sending data..")
               updateUserOrder(productname,quantity)
           }

       })
   }
   function updateUserOrder(productId,quantity){
        var url = '/add-cart/'
      fetch(url, {
        method: "POST",

        credentials: "same-origin",
        body: JSON.stringify({product: productId, quantity: quantity})
      })
      .then(response => response.json())
      .then(data => {
        console.log(data)
          location.reload()
      })
   }


    var pastQuantity = 1;
    document.getElementById("cart").onclick = () => {
        var quantity ="{{ dishes.first.quantity }}"
        var product=  "{{ dishes.first.product }}"
        console.log(JSON.stringify({product: product, quantity: quantity}))

        var url = '/add-cart/'
      fetch(url, {
        method: "POST",

        credentials: "same-origin",
        body: JSON.stringify({product: product, quantity: quantity})
      })
      .then(response => response.json())
      .then(data => {
        console.log(data)
      })

      window.location.assign("http://127.0.0.1:7000/buyer/checkout")
    }

  </script>

{% endblock %}