1. make table for all orders, today's orders and future orders
2. make option for incomplete orders
3. make a card for total orders

{%  extends 'buyer_dashboard_base.html' %}
{% block content %}
    <br>
<ul class="nav justify-content-center">
    <li class="nav-item">
    <a class="nav-link active" href="#">Today</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">All</a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="#">Incomplete Orders</a>
  </li>
</ul>
<table class="table">
  <thead>
      <tr>
          {% for i in header%}
          <th>{{i}}</th>
          {% endfor %}
      </tr>
  </thead>

  <tbody>
          <tr>
              <td>{{items.product}}</td>
              <td>{{sellerdetails}}</td>
              <td>{{order.timestamp}}</td>
              <td>{{orderitem.quantity}}</td>
              <td>{{ordertotal}}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
    <br>

{% endblock %}