{%  extends 'buyer_dashboard_base.html' %}
{% block content %}
     <div class="container border py-3 my-3">
        <li class="nav-item">
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Restaurant Name" aria-label="Search">
      <input class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </li>
{% endblock %}