{%  extends 'base_templates/buyer_dashboard_base.html' %}
{% block content %}
    <h1 style="font-family: Arial; font-size: 40px">
        <b> Business Name : {{ seller.businessname }}</b>
    </h1>
    <br>
    <div class="row">
        <div class="col-3 card_zoom"
             style="background: white; height: 40px;  text-align: center; margin-left: 20px">
            <a onclick="location.href='{% url 'buyer restaurants' %}'"><i class="fa fa-arrow-left center_res"></i><b> Return to Restaurant Dashboard</b></a>
        </div>
        <div class="col-1" style="width: 10px"></div>
        <div class="col-3 card_zoom"
             style="background: white;
                    height: 40px;
                    text-align: center;">
            <a onclick="location.href='{% url 'buyer dashboard' %}'"><i class="fa fa-arrow-left center_res"></i><b> Return to Buyer Dashboard</b></a>
        </div>
    </div>
    <br>
    <div class="container-fluid border card_container justify-content-center">
        <div class="row justify-content-center">
            {% for t in food %}
                {% if t.availability %}
                    <div class="card-deck mx-2 mb-3">
                        <div class="card card_style mb-3 card_zoom" style="width: 19rem;">
                            {% if t.image %}
                                <img src= "{{ t.image.url }}">
                            {% else %}
                                {% load static %}
                                <img src={% static 'img/Food Item Deafult.png' %}>
                            {% endif %}
                            <div class="card-body">
                                <div class="row card-title">
                                    <h5 class="col" style="color: #FBC226; font-weight: bold">{{ t.product }}</h5>
                                    <h5 class="col"
                                        style="text-align: right; font-weight: bold; color: #666666">$ {{ t.price | floatformat:2 }}</h5>
                                </div>
                                <p class="card-text">
                                    Category: {{ t.category }}
                                </p>
                                <div class="row">
                                    <div class="col">
                                        <i class="fa fa-user"></i> Servings : {{ t.servings }}
                                </div>
                                <div class="col" style="text-align: right">
                                    <a id="buy"
                                       data-product="{{ t.product }}"
                                       data-action="add"
                                       data-price="{{ t.price }}"
                                       data-image="{{ t.image.url }}"
                                       data-quantity="{{ t.servings }}"
                                       data-toggle="modal"
                                       data-target="#DishModal"
                                       class="btn btn-success update-modal buy_button card_zoom"
                                       style="background: #FBC226; border-color: #FBC226; color: white; font-size: 15px; font-weight: bold">
                                        Buy
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- Modal -->
<div class="modal fade"
     id="DishModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src=""
                     alt="..."
                     name="product_image"
                     class="img-thumbnail center_res">
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col" style="text-align: right; font-weight: bold; ">Product :</div>
                        <div class="col" id="output" style="text-align: left;"></div>
                    </div>
                    <p>
                    </p>
                    <div class="row">
                        <div class="col" style="text-align: right; font-weight: bold ">Servings :</div>
                        <div class="col" id="quan" style="text-align: left;"></div>
                    </div>
                    <p>
                    </p>
                    <div class="row">
                        <div class="col" style="text-align: right; font-weight: bold ">Price :</div>
                        <div class="col" id="p" style="text-align: left;"></div>
                    </div>
                    <br>
                    <p id="response">
                    </p>
                    <button type="button"
                            class="btn btn-success update-cart card_zoom"
                            id="cart"
                            style="background: #FBC226; border-color: #FBC226; color: white; font-size: 15px; font-weight: bold">
                        Add to Cart
                    </button>
                </div>
            </div>
            <p>
            </p>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary card_zoom"
                        data-dismiss="modal"
                        style="background: #e44725; border-color: #e44725; color: white; font-size: 15px; font-weight: bold">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../static/js/cart.js "></script>
{% endblock %}
