{%  extends 'base_templates/buyer_dashboard_base.html' %}
{% block content %}
{% load static %}

         <h1 style="font-family: Arial; font-size: 40px"><b> Restaurants</b></h1>

    <br>
    <div class="card_zoom" style="background: white; width: 250px; height: 40px;  text-align: center;">
        <a onclick="location.href='{% url 'buyer dashboard' %}'" ><i class="fa fa-arrow-left center_res"></i><b> Return to Buyer Dashboard</b></a>
    </div>

    <ul class="nav justify-content-center">
    <form class="form-inline my-2 my-lg-0" method="post">

    {% for field in form %}
        {% csrf_token %}
        <label>
        <div class="fieldWrapper", style = "padding: 10px 15px;">
            {{ field }}
        </div>
        </label>
    {% endfor %}
    <button class="btn btn-outline-success my-2 my-sm-0  " type="submit" >Search</button>
    </form>
    </ul>

<br>
<div class="container-fluid border card_container justify-content-center">
    <div class="row justify-content-center">
        {% for record in Restaurants %}
            <div class="card-deck mx-2 mb-3">
                <div class="card card_style mb-3 card_zoom" style="width: 19rem;">
                    {% if record.image %}
                        <img src= "{{record.image.url}}">
                    {% else %}
                        {% load static %}
                        <img src="{% static 'img/share-eats-logo----fffcef@1x.png' %}" alt="My image">
                    {% endif %}
        <div class="card-body">
            <h5  class="card-title">{{ record.businessname }}</h5>
            <p class="card-text-warning"><b>Description</b> : {{ record.description }}</p>
            <p class="card-text"><b>Address</b> : {{ record.address}}</p>
            <p class="card-text"><b>Phone</b> : {{ record.business_phone_number }}</p>
            <a data-business="{{ record.businessname }}" class="btn btn-success get-menu card_zoom"
            style="background: #FBC226; border-color: #FBC226; color: white; font-size: 15px; font-weight: bold; float: right;">
                View Menu
            </a>
        </div>
    </div>
    </div>

        {% endfor %}
    </div>
</div>


  <script type="text/javascript" src="../../static/js/restaurants.js "></script>
{% endblock %}