{%  extends 'base_templates/base.html' %}
{% load crispy_forms_filters %}
{% block content %}

    <br>
    <div class="container d-flex justify-content-center">
<h3>Password reset</h3>
    </div>
    <br>
<div class="d-flex justify-content-center">
<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    </div>
    <br>
<div class="d-flex justify-content-center">
<form method="post">

	{% csrf_token %}
	{{form|crispy}}
    <br>
    <div class="d-flex justify-content-center">
	<input class="btn btn-light mb-2" type="Submit" name="Send email">
    </div>
</form>
    </div>
    <br>
{% endblock %}