:root { 
  --black: #000000;
  --dove-gray: #707070;
  --gray: #919191;
  --lightning-yellow: #fbc226;
  --lightning-yellow-2: #fbc226e6;
  --white: #ffffff;
 
  --font-size-l: 11px;
  --font-size-m: 9px;
  --font-size-xl: 13px;
  --font-size-xxl: 14px;
  --font-size-xxxl: 15px;
  --font-size-xxxxl: 39px;
  --font-size-xxxxxl: 40px;
 
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-georgia-bold: "Georgia-Bold", Helvetica;
  --font-family-segoeprint-bold: "SegoePrint-Bold", Helvetica;
  --font-family-segoeui-bold: "SegoeUI-Bold", Helvetica;
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
  --font-family-timesnew_roman-bold: "TimesNew Roman-Bold", Helvetica;
}
.segoeui-regular-normal-gray-11px {
  color: var(--gray);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.segoeui-bold-black-9px {
  color: var(--black);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.arial-regular-normal-lightning-yellow-14px {
  color: var(--lightning-yellow);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
